<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="Database" name="loginer" dbProvider="sqlserver" keepConnection="false" 
            connectionString="Password=123456;Persist Security Info=True;User ID=sa;Initial Catalog=TestMVC;Data Source=YANGYANGWORK\MYMSSQL" 
             commandText="INSERT INTO dbo.LoginRecords
(
    [CreateTime],
    [UserId],
    [IpAddress]
)
VALUES
(   GETDATE(),@userId,@ipAddress )"
            >
      <parameter name="userId" layout="${event-context:item=userId}" />
      <parameter name="ipAddress" layout="${event-context:item=ipAddress}" />
    </target>

    <target xsi:type="Database" name="opreater" dbProvider="sqlserver" keepConnection="false" 
            connectionString="Password=123456;Persist Security Info=True;User ID=sa;Initial Catalog=TestMVC;Data Source=YANGYANGWORK\MYMSSQL" 
            commandText="
            INSERT INTO dbo.OpreateRecords( [CreateTime],[ControllerName],[UserId],[MesFir],[MesSec] )
            VALUES
            ( GETDATE(), @cName,@userId,@mesFir,@mesSec )"
            >
      <parameter name="cName" layout="${event-context:item=cName}" />
      <parameter name="userId" layout="${event-context:item=userId}" />
      <parameter name="mesFir" layout="${event-context:item=mesFir}" />
      <parameter name="mesSec" layout="${event-context:item=mesSec}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="loginer" minlevel="Trace"  writeTo="loginer" />
    <logger name="opreater" minlevel="Trace"  writeTo="opreater" />
  </rules>
</nlog>
